<configuration>
    <appender name="loggIJsonFormatTilKibana" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>

    <appender name="auditLogger" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>audit.nais:6514</destination>
        <writeBufferSize>128000</writeBufferSize>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${HOSTNAME} ${NAIS_APP_NAME}: %msg%n</pattern>
        </encoder>
    </appender>

    <logger level="INFO" name="auditLogger" additivity="false">
        <appender-ref ref="auditLogger" />
    </logger>

    <root level="INFO">
        <appender-ref ref="loggIJsonFormatTilKibana"/>
    </root>
<!-- MERK: hvis du skrur på DEBUG logging for Exposed, så vil potensielt FNR skrives til loggen -->
    <logger name="io.netty" level="INFO"/>
    <logger name="org.apache.zookeeper" level="WARN"/>
    <logger name="org.eclipse.jetty" level="INFO"/>
<!--    <logger name="net.javacrumbs.shedlock.core" level="DEBUG"/>-->
    <logger name="no.nav" level="DEBUG"/>
<!--    <logger name="org.apache.kafka.clients.consumer.internals.ConsumerCoordinator" level="DEBUG"/>-->
    <logger name="no.nav.security.token.support" level="WARN"/>
<!--    <logger name="org.apache.kafka.clients.consumer.internals.Heartbeat" level="DEBUG"/>-->
<!--    <logger name="org.apache.kafka.streams.processor.internals.StreamThread" level="DEBUG"/>-->
</configuration>